.article {
  display: grid;
  grid-column: full-start / full-end;
}

.article__pictures {
  background-color: darkgoldenrod;
  grid-column: 1 / span 6;
}

.article__content {
  background-color: darksalmon;
  grid-column: 7 / span 6;
}
