.header {
  /* opacity background*/
  // background-color: rgba(0, 0, 0, 0);
  /*background-color: black;*/
  background: rgba(34, 34, 34, 0.25);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 80px;

  /* für sticky header */
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
}

.header__logo {
  width: 40px;
  fill: white;
}
